/*
Hide code snippets on mobile devices
XS
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
*/
@media screen and (max-width: 767px) {


}

/*
Tablets and up
SM
*/
@media screen and (min-width: 768px) {
	
	#newsletter-promo .triangle{
  	margin: 0 0 0 60px;
	}
	#newsletter-promo .box{
  	padding:30px 15% 30px 15%; 
	}
	#newsletter-promo .box h3{
		font-size: 24px;
	}
	#newsletter-promo .box .mailing-list-box input{
		width:auto;
	}
	#newsletter-promo .box .mailing-list-box .email{
  	width:444px;
	}	

}

/*
Tablets/desktops and up
MD
*/
@media screen and (min-width: 992px) {

	
}


/*
Large desktops and up
LG
*/
@media screen and (min-width: 1200px) {

}